<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Interview Information</title>
  <style>
    table { width: 100%; }
    p { color: black;}
    .left-column { flex: 6; }
    .right-column { flex: 4; text-align: left; }
    .button-container { text-align: left; margin-top: 20px; }
    .button { padding: 10px 20px; background-color: blue; color: #fff; border: 1px solid; border-radius: 5px; text-decoration: none; display: inline-block; }
  </style>
</head>
<body>
  <table>
    <tr>
      <td class="left-column">
        <h2>Interview Information</h2>
        <p style=" line-height: 1.5 ">Dear <strong>[[${name}]],</strong><br>
        Thank you for applying [[${jobName}]] to [[${jobName}]].<br>
        We've reviewed your application materials and we're excited to invite you to interview for the role.<br>
        Your interview will be conducted via online meeting with our interviewers.<br>
        The interview time is on [[${event.dateStart.value}]].<br>
        If you have any questions, please don't hesitate to contact us.<br>
        Regard, [[${event.attendees[1].commonName}]](Recruiter).<br></p>
        <p><strong>Start Date:</strong> [[${startTime}]]</p>
        <p><strong>End Date:</strong> [[${endTime}]]</p>
        <p><strong>Candidate:</strong> [[${name}]])</p>
        <p><strong>Recruiter:</strong> [[${companyName}]])</p>
      </td>

      <td style="vertical-align: top;" class="right-column">
        <div class="button-container">
          <h2>Join the Meeting</h2>
          <a style="color: white; font-weight: 700;" th:href="${interviewLink}" class="button">Join the Meeting</a>
        </div>
        <p><strong>Link CV:</strong></p>
        <p><a th:href="${resumeLink}">Download CV</a></p>
      </td>
    </tr>
  </table>
</body>
</html>
